body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #eef2ff, #f8fafc);
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.upload-box {
  text-align: center;
  margin-bottom: 30px;
}

button {
  background: #2563eb;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #1d4ed8;
}

.card {
  background: #f9fafb;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.highlight {
  font-size: 22px;
  color: #2563eb;
  font-weight: bold;
}

.skills {
  margin-top: 10px;
}

.skill {
  display: inline-block;
  background: #e0e7ff;
  color: #1e3a8a;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    background: #e0e7ff;
    color: #1e3a8a;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}
